html {
  height: 100%;
}

body {
  top: 0px;
  min-height: 100%;
  width: 100vw;
  background-color: grey;
}

.main {
  overflow: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0px;
  width: 100vw;
  min-height: 140vh;
}

/* This hides the menu by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
}

/* This shows the menu when you hover over the Shopping link */
.dropdown:hover .dropdown-content {
  display: block;
}

/* This adds a hover effect to the category names */
.dropdown-content div:hover {
  background-color: #ddd;
}


/* Show the dropdown menu when hovering over the container */
.dropdown:hover .dropdown-content {
  display: block !important;
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

