.img {
  height: 200px;
  width: 200px;
  margin: 10px;
}

#card-container {
  display: flex;
  max-height: 50vh;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  border: solid black;
  background-color: white;
}

.featured-card {
  min-width: 300px;
  justify-content: space-between;
  margin: 20px;
}

#card-container .featured-message {
  margin: auto;
  padding: 40px 20px;
  font-size: 1.1rem;
}

#gallery-head {
  background: black;
  margin-top: -5px;
}
